.git*            export-ignore

# Custom attribute to mark sources as using our C code style.
[attr]our-c-style  whitespace=tab-in-indent,-blank-at-eol  format.clang-format=9

*.c              our-c-style
*.h              our-c-style
*.cpp            our-c-style
*.hpp            our-c-style
*.cxx            our-c-style
*.hxx            our-c-style
*.txx            our-c-style
*.txt            whitespace=tab-in-indent,-blank-at-eol
*.cmake          whitespace=tab-in-indent,-blank-at-eol

thirdparty/**    -format.clang-format
